#aceEditor > div.ace_scrollbar.ace_scrollbar-v,
#aceEditor > div.ace_scrollbar.ace_scrollbar-h {
  scrollbar-width: none;
}

/* #aceEditor > div.ace_scrollbar.ace_scrollbar-v,
#aceEditor > div.ace_scrollbar.ace_scrollbar-h {
  display: none;
}

#aceEditor:hover > div.ace_scrollbar.ace_scrollbar-v,
#aceEditor:hover > div.ace_scrollbar.ace_scrollbar-h {
  display: block;
} */

.ace-tomorrow .ace_gutter {
  background: transparent;
  color: #4d4d4c;
}

.ace-tomorrow .ace_print-margin {
  width: 1px;
  background: #f6f6f6;
}

.ace-tomorrow {
  background-color: #ffffff;
  color: #4d4d4c;
}

.ace-tomorrow .ace_cursor {
  color: #aeafad;
}

.ace-tomorrow .ace_marker-layer .ace_selection {
  background: #d6d6d6;
}

.ace-tomorrow.ace_multiselect .ace_selection.ace_start {
  box-shadow: 0 0 3px 0px #ffffff;
}

.ace-tomorrow .ace_marker-layer .ace_step {
  background: rgb(255, 255, 0);
}

.ace-tomorrow .ace_marker-layer .ace_bracket {
  margin: -1px 0 0 -1px;
  border: 1px solid #d1d1d1;
}

.ace-tomorrow .ace_marker-layer .ace_active-line {
  background: #efefef;
}

.ace-tomorrow .ace_gutter-active-line {
  background-color: #dcdcdc;
}

.ace-tomorrow .ace_marker-layer .ace_selected-word {
  border: 1px solid #d6d6d6;
}

.ace-tomorrow .ace_invisible {
  color: #d1d1d1;
}

.ace-tomorrow .ace_keyword,
.ace-tomorrow .ace_meta,
.ace-tomorrow .ace_storage,
.ace-tomorrow .ace_storage.ace_type,
.ace-tomorrow .ace_support.ace_type {
  color: #8959a8;
}

.ace-tomorrow .ace_keyword.ace_operator {
  color: #3e999f;
}

.ace-tomorrow .ace_constant.ace_character,
.ace-tomorrow .ace_constant.ace_language,
.ace-tomorrow .ace_constant.ace_numeric,
.ace-tomorrow .ace_keyword.ace_other.ace_unit,
.ace-tomorrow .ace_support.ace_constant,
.ace-tomorrow .ace_variable.ace_parameter {
  color: #f5871f;
}

.ace-tomorrow .ace_constant.ace_other {
  color: #666969;
}

.ace-tomorrow .ace_invalid {
  color: #ffffff;
  background-color: #c82829;
}

.ace-tomorrow .ace_invalid.ace_deprecated {
  color: #ffffff;
  background-color: #8959a8;
}

.ace-tomorrow .ace_fold {
  background-color: #4271ae;
  border-color: #4d4d4c;
}

.ace-tomorrow .ace_entity.ace_name.ace_function,
.ace-tomorrow .ace_support.ace_function,
.ace-tomorrow .ace_variable {
  color: #4271ae;
}

.ace-tomorrow .ace_support.ace_class,
.ace-tomorrow .ace_support.ace_type {
  color: #c99e00;
}

.ace-tomorrow .ace_heading,
.ace-tomorrow .ace_markup.ace_heading,
.ace-tomorrow .ace_string {
  color: #718c00;
}

.ace-tomorrow .ace_entity.ace_name.ace_tag,
.ace-tomorrow .ace_entity.ace_other.ace_attribute-name,
.ace-tomorrow .ace_meta.ace_tag,
.ace-tomorrow .ace_string.ace_regexp,
.ace-tomorrow .ace_variable {
  color: #c82829;
}

.ace-tomorrow .ace_comment {
  color: #8e908c;
}

/* Night */

.ace-tomorrow-night .ace_gutter {
  background: #25282c;
  color: #c5c8c6;
}
.ace-tomorrow-night .ace_print-margin {
  width: 1px;
  background: #25282c;
}
.ace-tomorrow-night {
  background-color: #1d1f21;
  color: #c5c8c6;
}
.ace-tomorrow-night .ace_cursor {
  color: #aeafad;
}
.ace-tomorrow-night .ace_marker-layer .ace_selection {
  background: #373b41;
}
.ace-tomorrow-night.ace_multiselect .ace_selection.ace_start {
  box-shadow: 0 0 3px 0px #1d1f21;
}
.ace-tomorrow-night .ace_marker-layer .ace_step {
  background: rgb(102, 82, 0);
}
.ace-tomorrow-night .ace_marker-layer .ace_bracket {
  margin: -1px 0 0 -1px;
  border: 1px solid #4b4e55;
}
.ace-tomorrow-night .ace_marker-layer .ace_active-line {
  background: #282a2e;
}
.ace-tomorrow-night .ace_gutter-active-line {
  background-color: #282a2e;
}
.ace-tomorrow-night .ace_marker-layer .ace_selected-word {
  border: 1px solid #373b41;
}
.ace-tomorrow-night .ace_invisible {
  color: #4b4e55;
}
.ace-tomorrow-night .ace_keyword,
.ace-tomorrow-night .ace_meta,
.ace-tomorrow-night .ace_storage,
.ace-tomorrow-night .ace_storage.ace_type,
.ace-tomorrow-night .ace_support.ace_type {
  color: #b294bb;
}
.ace-tomorrow-night .ace_keyword.ace_operator {
  color: #8abeb7;
}
.ace-tomorrow-night .ace_constant.ace_character,
.ace-tomorrow-night .ace_constant.ace_language,
.ace-tomorrow-night .ace_constant.ace_numeric,
.ace-tomorrow-night .ace_keyword.ace_other.ace_unit,
.ace-tomorrow-night .ace_support.ace_constant,
.ace-tomorrow-night .ace_variable.ace_parameter {
  color: #de935f;
}
.ace-tomorrow-night .ace_constant.ace_other {
  color: #ced1cf;
}
.ace-tomorrow-night .ace_invalid {
  color: #ced2cf;
  background-color: #df5f5f;
}
.ace-tomorrow-night .ace_invalid.ace_deprecated {
  color: #ced2cf;
  background-color: #b798bf;
}
.ace-tomorrow-night .ace_fold {
  background-color: #81a2be;
  border-color: #c5c8c6;
}
.ace-tomorrow-night .ace_entity.ace_name.ace_function,
.ace-tomorrow-night .ace_support.ace_function,
.ace-tomorrow-night .ace_variable {
  color: #81a2be;
}
.ace-tomorrow-night .ace_support.ace_class,
.ace-tomorrow-night .ace_support.ace_type {
  color: #f0c674;
}
.ace-tomorrow-night .ace_heading,
.ace-tomorrow-night .ace_markup.ace_heading,
.ace-tomorrow-night .ace_string {
  color: #b5bd68;
}
.ace-tomorrow-night .ace_entity.ace_name.ace_tag,
.ace-tomorrow-night .ace_entity.ace_other.ace_attribute-name,
.ace-tomorrow-night .ace_meta.ace_tag,
.ace-tomorrow-night .ace_string.ace_regexp,
.ace-tomorrow-night .ace_variable {
  color: #cc6666;
}
.ace-tomorrow-night .ace_comment {
  color: #969896;
}
